<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64558767437-1fho70kn6qpigsu1op48dalf142rs92m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64558767437-1fho70kn6qpigsu1op48dalf142rs92m</string>
	<key>API_KEY</key>
	<string>AIzaSyAPN8cRhA0aa0NyI52LtgXo5K_EwRTF1yE</string>
	<key>GCM_SENDER_ID</key>
	<string>64558767437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wowbros.ios.modak</string>
	<key>PROJECT_ID</key>
	<string>modak-9e12f</string>
	<key>STORAGE_BUCKET</key>
	<string>modak-9e12f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64558767437:ios:f2918238c9ff853bfd2b04</string>
</dict>
</plist>